torch~=2.3.0
torchvision~=0.18.0
triton
termcolor~=2.4.0
einops~=0.8.0
av
wandb
datasets~=2.19.1
gym-pusht
gym-aloha
gym-xarm
omegaconf~=2.3.0
safetensors~=0.4.3
hydra-core
diffusers~=0.27.2
robomimic~=0.3.0
gymnasium~=0.29.1
numpy~=1.26.4
pillow~=10.3.0
tqdm~=4.66.4
imageio~=2.34.1
pyarrow~=16.1.0
h5py~=3.11.0
